In [1]:
import numpy as np
import pandas as pd

from datetime import datetime

### Reading Data

In [2]:
%%time
df = pd.read_csv('../data/raw/Python Test 1 - billings_europe.csv', skiprows=3)

CPU times: user 309 ms, sys: 32.4 ms, total: 341 ms
Wall time: 344 ms

<string>:2: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260) have mixed types.Specify dtype option on import or set low_memory=False.

In [3]:
df.head()

,1,2,9,10,11,12,13,14,15,16,...,258,259,260,261,262,263,264,265,266,267
0,NaN,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,NaN,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
3,31-Dec-74,NaN,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

         2   60  112  164  216
count  0.0  0.0  0.0  0.0  0.0
mean   NaN  NaN  NaN  NaN  NaN
std    NaN  NaN  NaN  NaN  NaN
min    NaN  NaN  NaN  NaN  NaN
25%    NaN  NaN  NaN  NaN  NaN
50%    NaN  NaN  NaN  NaN  NaN
75%    NaN  NaN  NaN  NaN  NaN
max    NaN  NaN  NaN  NaN  NaN

### Dropping all null columns

In [5]:
all_null_cols = [col for col in df.columns if df[col].isnull().all()]

In [6]:
all_null_cols

['2', '60', '112', '164', '216']

In [7]:
df.drop(columns=all_null_cols, inplace=True)

In [8]:
df.describe()

,1,9,10,11,12,13,14,15,16,17,...,258,259,260,261,262,263,264,265,266,267
count,11134,1102.0,1102.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,...,128.0,612.0,1101.0,1101.0,1101.0,201.0,1101.0,1101.0,1101.0,1101.0
unique,11134,1085.0,1091.0,1082.0,1096.0,1087.0,1088.0,1082.0,1077.0,1086.0,...,127.0,604.0,1087.0,1094.0,1083.0,198.0,1092.0,1076.0,1081.0,1090.0
top,21-May-91,20337.4,23407.4,12814.8,26666.2,21228.6,7444.4,12764.6,11593.2,17734.0,...,17878.8,49514.0,24814.6,27608.4,34885.6,19720.2,38745.8,17335.0,41739.0,34613.6
freq,1,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0

### Build Processed CSV Data

In [9]:
# Transpose the dataframe
df_transpose = df.T.reset_index(drop=True)

In [10]:
# Set column headders to row 1 by replacing 1st 3 values accordingly
headers = df_transpose.iloc[0]

In [11]:
headers.at[0] = 'Segment - Period'
headers.at[1] = 'Type'
headers.at[2] = 'Subtype'

In [12]:
df_transpose.columns = headers

In [13]:
df_transpose.drop(index=0, inplace=True)

In [14]:
df_transpose.reset_index(drop=True, inplace=True)

In [15]:
# Data 
df_transpose

,Segment - Period,Type,Subtype,31-Dec-74,1-Jan-75,2-Jan-75,3-Jan-75,6-Jan-75,7-Jan-75,8-Jan-75,...,21-Aug-17,22-Aug-17,23-Aug-17,24-Aug-17,25-Aug-17,28-Aug-17,29-Aug-17,30-Aug-17,31-Aug-17,1-Sep-17
0,Europe - On Trailing EY,Market,EURO,27536,NaN,NaN,NaN,NaN,NaN,NaN,...,20038,19947.4,19945.2,19774.4,NaN,19540.2,19337.8,19683.4,19514.2,19482.2
1,Consumer Discretionary - On Trailing EY,Sectors,EURO_25,26861,NaN,NaN,NaN,NaN,NaN,NaN,...,23846.6,24013.4,23757.4,23981.8,NaN,23407.4,23310.8,23461.4,23859.8,23866.8
2,Consumer Staples - On Trailing EY,NaN,EURO_30,25887.8,NaN,NaN,NaN,NaN,NaN,NaN,...,12138.6,11894.6,11953,11968.6,NaN,12484.4,12297.2,12227.6,12076.2,12058.2
3,Energy - On Trailing EY,NaN,EURO_10,51400.2,NaN,NaN,NaN,NaN,NaN,NaN,...,32243.2,32511.8,32396.4,32150.4,NaN,32322,32124.6,31858.2,31062.6,44960.4
4,Financials - On Trailing EY,NaN,EURO_40,28288,NaN,NaN,NaN,NaN,NaN,NaN,...,13012.6,13102.4,13041.8,13201.6,NaN,13542,13323,13161.2,13425.6,13429.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,Portugal - On Trailing BVY,NaN,PT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,Spain - On Trailing BVY,NaN,ES,21978,NaN,NaN,NaN,NaN,NaN,NaN,...,33697.2,33257.4,33657.2,33331,NaN,33455,34186.8,33779,35239.2,35336
252,Sweden - On Trailing BVY,NaN,SE,16744.6,NaN,NaN,NaN,NaN,NaN,NaN,...,18404.6,18524.6,18403.4,18419.8,NaN,18183.6,17974,18208.2,19611,19979
253,Switzerland - On Trailing BVY,NaN,CH,24155.2,NaN,NaN,NaN,NaN,NaN,NaN,...,42544.6,42477,42683.2,42676.4,NaN,42591.2,42936.4,42681.2,42931.4,43008.4
254,United Kingdom - On Trailing BVY,NaN,GB,14720.6,NaN,NaN,NaN,NaN,NaN,NaN,...,31602.4,31010,30965.8,29532.8,NaN,29264.6,28631,28686,28286.2,29284.2

In [16]:
# Fill Type with Forward Fill Strategy impute nulls with last non-missing value
df_transpose['Type'].fillna(method='ffill', inplace=True)

In [17]:
df_transpose

,Segment - Period,Type,Subtype,31-Dec-74,1-Jan-75,2-Jan-75,3-Jan-75,6-Jan-75,7-Jan-75,8-Jan-75,...,21-Aug-17,22-Aug-17,23-Aug-17,24-Aug-17,25-Aug-17,28-Aug-17,29-Aug-17,30-Aug-17,31-Aug-17,1-Sep-17
0,Europe - On Trailing EY,Market,EURO,27536,NaN,NaN,NaN,NaN,NaN,NaN,...,20038,19947.4,19945.2,19774.4,NaN,19540.2,19337.8,19683.4,19514.2,19482.2
1,Consumer Discretionary - On Trailing EY,Sectors,EURO_25,26861,NaN,NaN,NaN,NaN,NaN,NaN,...,23846.6,24013.4,23757.4,23981.8,NaN,23407.4,23310.8,23461.4,23859.8,23866.8
2,Consumer Staples - On Trailing EY,Sectors,EURO_30,25887.8,NaN,NaN,NaN,NaN,NaN,NaN,...,12138.6,11894.6,11953,11968.6,NaN,12484.4,12297.2,12227.6,12076.2,12058.2
3,Energy - On Trailing EY,Sectors,EURO_10,51400.2,NaN,NaN,NaN,NaN,NaN,NaN,...,32243.2,32511.8,32396.4,32150.4,NaN,32322,32124.6,31858.2,31062.6,44960.4
4,Financials - On Trailing EY,Sectors,EURO_40,28288,NaN,NaN,NaN,NaN,NaN,NaN,...,13012.6,13102.4,13041.8,13201.6,NaN,13542,13323,13161.2,13425.6,13429.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,Portugal - On Trailing BVY,Countries,PT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,Spain - On Trailing BVY,Countries,ES,21978,NaN,NaN,NaN,NaN,NaN,NaN,...,33697.2,33257.4,33657.2,33331,NaN,33455,34186.8,33779,35239.2,35336
252,Sweden - On Trailing BVY,Countries,SE,16744.6,NaN,NaN,NaN,NaN,NaN,NaN,...,18404.6,18524.6,18403.4,18419.8,NaN,18183.6,17974,18208.2,19611,19979
253,Switzerland - On Trailing BVY,Countries,CH,24155.2,NaN,NaN,NaN,NaN,NaN,NaN,...,42544.6,42477,42683.2,42676.4,NaN,42591.2,42936.4,42681.2,42931.4,43008.4
254,United Kingdom - On Trailing BVY,Countries,GB,14720.6,NaN,NaN,NaN,NaN,NaN,NaN,...,31602.4,31010,30965.8,29532.8,NaN,29264.6,28631,28686,28286.2,29284.2

In [18]:
# Convert All types to index leaving only date columns for unpivoting
cols_to_idx = ['Segment - Period', 'Type', 'Subtype']

In [19]:
df_transpose.index = df_transpose[cols_to_idx]

In [20]:
df_transpose

,Segment - Period,Type,Subtype,31-Dec-74,1-Jan-75,2-Jan-75,3-Jan-75,6-Jan-75,7-Jan-75,8-Jan-75,...,21-Aug-17,22-Aug-17,23-Aug-17,24-Aug-17,25-Aug-17,28-Aug-17,29-Aug-17,30-Aug-17,31-Aug-17,1-Sep-17
"(Europe - On Trailing EY, Market, EURO)",Europe - On Trailing EY,Market,EURO,27536,NaN,NaN,NaN,NaN,NaN,NaN,...,20038,19947.4,19945.2,19774.4,NaN,19540.2,19337.8,19683.4,19514.2,19482.2
"(Consumer Discretionary - On Trailing EY, Sectors, EURO_25)",Consumer Discretionary - On Trailing EY,Sectors,EURO_25,26861,NaN,NaN,NaN,NaN,NaN,NaN,...,23846.6,24013.4,23757.4,23981.8,NaN,23407.4,23310.8,23461.4,23859.8,23866.8
"(Consumer Staples - On Trailing EY, Sectors, EURO_30)",Consumer Staples - On Trailing EY,Sectors,EURO_30,25887.8,NaN,NaN,NaN,NaN,NaN,NaN,...,12138.6,11894.6,11953,11968.6,NaN,12484.4,12297.2,12227.6,12076.2,12058.2
"(Energy - On Trailing EY, Sectors, EURO_10)",Energy - On Trailing EY,Sectors,EURO_10,51400.2,NaN,NaN,NaN,NaN,NaN,NaN,...,32243.2,32511.8,32396.4,32150.4,NaN,32322,32124.6,31858.2,31062.6,44960.4
"(Financials - On Trailing EY, Sectors, EURO_40)",Financials - On Trailing EY,Sectors,EURO_40,28288,NaN,NaN,NaN,NaN,NaN,NaN,...,13012.6,13102.4,13041.8,13201.6,NaN,13542,13323,13161.2,13425.6,13429.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(Portugal - On Trailing BVY, Countries, PT)",Portugal - On Trailing BVY,Countries,PT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(Spain - On Trailing BVY, Countries, ES)",Spain - On Trailing BVY,Countries,ES,21978,NaN,NaN,NaN,NaN,NaN,NaN,...,33697.2,33257.4,33657.2,33331,NaN,33455,34186.8,33779,35239.2,35336
"(Sweden - On Trailing BVY, Countries, SE)",Sweden - On Trailing BVY,Countries,SE,16744.6,NaN,NaN,NaN,NaN,NaN,NaN,...,18404.6,18524.6,18403.4,18419.8,NaN,18183.6,17974,18208.2,19611,19979
"(Switzerland - On Trailing BVY, Countries, CH)",Switzerland - On Trailing BVY,Countries,CH,24155.2,NaN,NaN,NaN,NaN,NaN,NaN,...,42544.6,42477,42683.2,42676.4,NaN,42591.2,42936.4,42681.2,42931.4,43008.4
"(United Kingdom - On Trailing BVY, Countries, GB)",United Kingdom - On Trailing BVY,Countries,GB,14720.6,NaN,NaN,NaN,NaN,NaN,NaN,...,31602.4,31010,30965.8,29532.8,NaN,29264.6,28631,28686,28286.2,29284.2

In [21]:
df_transpose.drop(columns=cols_to_idx, inplace=True)

In [22]:
# unpivot the data
df_T_unstacked = df_transpose.unstack()

In [23]:
df_T_unstacked = pd.DataFrame(df_T_unstacked)

In [24]:
df_T_unstacked.columns = ['Value']

In [25]:
df_T_unstacked = df_T_unstacked.reset_index()

In [26]:
df_T_unstacked.shape

(2839170, 3)

In [27]:
# Break level_1 to appropriate types
df_T_unstacked['level_1'].head()

0              (Europe - On Trailing EY, Market, EURO)
1    (Consumer Discretionary - On Trailing EY, Sect...
2    (Consumer Staples - On Trailing EY, Sectors, E...
3          (Energy - On Trailing EY, Sectors, EURO_10)
4      (Financials - On Trailing EY, Sectors, EURO_40)
Name: level_1, dtype: object

In [28]:
def get_all_types(type_tuple):
    _segment = ''
    _period = ''
    _type = ''
    _subtype = ''
    _comment = ''
    
    try:
        _tmp = type_tuple[0].split(' - ')
        _segment = _tmp[0]
        _period = _tmp[1]
        _type = type_tuple[1]
        _subtype = type_tuple[2]
        _comment = "processed sucessfully"
        
    except Exception as e:
        _comment = "processing failed: {}".format(e)
            
    return _segment, _period, _type, _subtype, _comment, str(datetime.now())

get_all_types = np.vectorize(get_all_types)

In [29]:
%%time
all_types = get_all_types(df_T_unstacked['level_1'])

CPU times: user 10.5 s, sys: 901 ms, total: 11.4 s
Wall time: 11.5 s

In [30]:
type_cols = ['Segment', 'Period', 'Type', 'Subtype', 'Comment', 'Processed Datetime']

In [31]:
for n, col in enumerate(type_cols):
    print(n, ' ', col)
    df_T_unstacked[col] = all_types[n]

0   Segment
1   Period
2   Type
3   Subtype
4   Comment
5   Processed Datetime

In [32]:
# Process date
df_T_unstacked.rename(columns={0: 'Date'}, inplace=True)

In [33]:
df_T_unstacked['Date'] = pd.to_datetime(df_T_unstacked['Date'])

In [34]:
df_T_unstacked['Comment'].value_counts()

processed sucessfully    2839170
Name: Comment, dtype: int64

In [35]:
req_cols = ['Date', 'Segment', 'Period', 'Type', 'Subtype', 'Value']

In [36]:
df_final = df_T_unstacked[req_cols].copy()

In [37]:
%%time
df_final.to_csv('../data/processed/output.csv', index=False)

CPU times: user 18.3 s, sys: 342 ms, total: 18.7 s
Wall time: 20 s