In [1]:
import numpy as np
import pandas as pd

### Reading Data

In [2]:
%%time
df = pd.read_csv('../data/raw/Python Test 1 - billings_europe.csv', skiprows=3)

CPU times: user 269 ms, sys: 43.1 ms, total: 312 ms
Wall time: 311 ms

<string>:2: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260) have mixed types.Specify dtype option on import or set low_memory=False.

In [3]:
df.head()

,1,2,9,10,11,12,13,14,15,16,...,258,259,260,261,262,263,264,265,266,267
0,NaN,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,NaN,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
3,31-Dec-74,NaN,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

         2   60  112  164  216
count  0.0  0.0  0.0  0.0  0.0
mean   NaN  NaN  NaN  NaN  NaN
std    NaN  NaN  NaN  NaN  NaN
min    NaN  NaN  NaN  NaN  NaN
25%    NaN  NaN  NaN  NaN  NaN
50%    NaN  NaN  NaN  NaN  NaN
75%    NaN  NaN  NaN  NaN  NaN
max    NaN  NaN  NaN  NaN  NaN

### Dropping all null columns

In [5]:
all_null_cols = [col for col in df.columns if df[col].isnull().all()]

In [6]:
all_null_cols

['2', '60', '112', '164', '216']

In [7]:
df.drop(columns=all_null_cols, inplace=True)

In [8]:
df.describe()

,1,9,10,11,12,13,14,15,16,17,...,258,259,260,261,262,263,264,265,266,267
count,11134,1102.0,1102.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,...,128.0,612.0,1101.0,1101.0,1101.0,201.0,1101.0,1101.0,1101.0,1101.0
unique,11134,1085.0,1091.0,1082.0,1096.0,1087.0,1088.0,1082.0,1077.0,1086.0,...,127.0,604.0,1087.0,1094.0,1083.0,198.0,1092.0,1076.0,1081.0,1090.0
top,13-Sep-94,20337.4,23407.4,12141.0,42691.2,21228.6,10624.6,21384.4,14235.8,17734.0,...,17878.8,49514.0,16131.8,27580.0,34885.6,19720.2,23154.6,19830.2,44044.4,35508.8
freq,1,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0

## Validation

### Create an empty dataframe called - date_df

In [9]:
date_df = pd.DataFrame()

### Creating Date Column

In [10]:
df['1'].head()

0          NaN
1          NaN
2          NaN
3    31-Dec-74
4     1-Jan-75
Name: 1, dtype: object

In [11]:
df['1'].isnull().sum()

3

In [12]:
# Considering only non-null dates as valid dates
date_df['Date'] = pd.to_datetime(df[df['1'].notnull()]['1'])

In [13]:
date_df.reset_index(drop=True, inplace=True)

In [14]:
date_df

            Date
0     1974-12-31
1     1975-01-01
2     1975-01-02
3     1975-01-03
4     1975-01-06
...          ...
11129 2017-08-28
11130 2017-08-29
11131 2017-08-30
11132 2017-08-31
11133 2017-09-01

[11134 rows x 1 columns]

In [15]:
date_df.describe()

                       Date
count                 11134
unique                11134
top     1989-12-27 00:00:00
freq                      1
first   1974-12-31 00:00:00
last    2017-09-01 00:00:00

### Analyze Segment, Period, Type & Sub Type

In [16]:
df.iloc[0]

1                                          NaN
9                      Europe - On Trailing EY
10     Consumer Discretionary - On Trailing EY
11           Consumer Staples - On Trailing EY
12                     Energy - On Trailing EY
                        ...
263                 Portugal - On Trailing BVY
264                    Spain - On Trailing BVY
265                   Sweden - On Trailing BVY
266              Switzerland - On Trailing BVY
267           United Kingdom - On Trailing BVY
Name: 0, Length: 256, dtype: object

In [17]:
df.iloc[0].value_counts()

Utilities - On Forward EY                     2
Telecommunication Services - On Forward DY    2
Materials - On Trailing DY                    2
Materials - On Trailing EY                    2
Energy - On Trailing EY                       2
                                             ..
Belgium - On Forward DY                       1
Switzerland - On Trailing DY                  1
Insurance - On Trailing BVY                   1
Denmark - On Trailing DY                      1
Diversified Financials - On Forward DY        1
Name: 0, Length: 235, dtype: int64

In [18]:
df.iloc[1].fillna(method='ffill')

1            NaN
9         Market
10       Sectors
11       Sectors
12       Sectors
         ...
263    Countries
264    Countries
265    Countries
266    Countries
267    Countries
Name: 1, Length: 256, dtype: object

In [19]:
df.iloc[1].fillna(method='ffill').value_counts()

Industry Groups    120
Countries           80
Sectors             50
Market               5
Name: 1, dtype: int64

In [20]:
df.iloc[2]

1          NaN
9         EURO
10     EURO_25
11     EURO_30
12     EURO_10
        ...
263         PT
264         ES
265         SE
266         CH
267         GB
Name: 2, Length: 256, dtype: object

In [21]:
df.iloc[2].value_counts()

EURO_1510    5
AT           5
NO           5
EURO_10      5
EURO_25      5
EURO_20      5
EURO_1010    5
EURO_4010    5
EURO_3010    5
EURO_5510    5
NL           5
EURO_2550    5
GB           5
EURO_45      5
EURO_4520    5
EURO_4040    5
EURO_2540    5
EURO_35      5
SE           5
EURO_2020    5
EURO_2030    5
EURO_55      5
IT           5
EURO         5
ES           5
CH           5
EURO_2510    5
EURO_2010    5
EURO_5010    5
GR           5
EURO_3510    5
EURO_40      5
EURO_4530    5
EURO_30      5
BE           5
PT           5
EURO_4020    5
IE           5
EURO_2530    5
EURO_2520    5
EURO_3030    5
EURO_4030    5
EURO_50      5
DK           5
EURO_3520    5
EURO_15      5
EURO_3020    5
DE           5
FI           5
FR           5
EURO_4510    5
Name: 2, dtype: int64

### Create a DataFrame for Segment, Period, Type & Sub Type - "type_df"

In [22]:
type_df = pd.concat([df.iloc[0], df.iloc[1].fillna(method='ffill'), df.iloc[2]], axis=1)

In [23]:
for col in type_df.columns:
    print(col, ' null counts: ', type_df[col].isnull().sum())

0  null counts:  1
1  null counts:  1
2  null counts:  1

In [24]:
# Only first row is null and should be dropped
type_df[~type_df.isnull().all(axis=1)]

                                           0          1        2
9                    Europe - On Trailing EY     Market     EURO
10   Consumer Discretionary - On Trailing EY    Sectors  EURO_25
11         Consumer Staples - On Trailing EY    Sectors  EURO_30
12                   Energy - On Trailing EY    Sectors  EURO_10
13               Financials - On Trailing EY    Sectors  EURO_40
..                                       ...        ...      ...
263               Portugal - On Trailing BVY  Countries       PT
264                  Spain - On Trailing BVY  Countries       ES
265                 Sweden - On Trailing BVY  Countries       SE
266            Switzerland - On Trailing BVY  Countries       CH
267         United Kingdom - On Trailing BVY  Countries       GB

[255 rows x 3 columns]

In [25]:
type_df = type_df[~type_df.isnull().all(axis=1)].reset_index(drop=True)

### We will create a cartisian product of all dates in final_df and and type_df
#### The number of rows in cartsian product should be equal to number of rows in our base output

In [26]:
date_df['key'] = type_df['key'] = 0

In [27]:
cartisian_df = date_df.merge(type_df)
cartisian_df.shape

(2839170, 5)

In [28]:
base_output_df = pd.read_csv('../data/processed/output.csv')

In [29]:
base_output_df.shape

(2839170, 6)

In [30]:
assert len(cartisian_df) == len(base_output_df)

## Validation sucessful